/* 清除浮动 */
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
/* 修改滚动条 */
@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
/* 相对布局 */
@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
/* 文字过长会截取成三个点 */
@mixin hiddenText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
